---
title: "Contribute"
layout: default
permalink: "/contribute"
---
<div class="container" style="padding-top:30px;">
	<div class="col-md-12 remove-site-content-margin" style="padding-left:0px !important; padding-right:0px !important;">
		<h4 class="font-weight-bold spanborder"><span>Contribute</span></h4>
		<p>
			If you would like to contribute to our archive of guides here on AirsoftNorge.com, please to reach out through <a href="https://discord.gg/eQafMF6PGQ">our ASN Discord server</a>, where we accept submissions from the community.
		</p>
		<h4 class="font-weight-bold spanborder"><span>Contributors</span></h4>
		<div class="row gap-y listrecent listrecent listauthor" >
			{% for author in site.authors %}
			<div class="col-lg-6 mb-4">
				<div class="p-4 border rounded">
					<div class="row">
						<div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author[1].name }}" src="{{ author[1].avatar }}" class="rounded" height="90" width="90"></div>
						<div class="col-md-9">
							<a href="/author-{{ author[1].name | slugify }}">
								<h4 class="a"> {{ author[1].name }} </h4>
								<small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
								<div class="excerpt">{{ author[1].bio }}</div>
							</a>
							<div class="icon-block mt-3 d-flex justify-content-between">
								<div>
									<!--
										<a target="_blank" href="{{ author[1].twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;-->
									{% if author[1].discord and author[1].discord != '' %}
									<a target="_blank" href="{{ author[1].discord }}"><i class="fab fa-discord text-muted" aria-hidden="true"></i></a> &nbsp;
									{% endif %}
									{% if author[1].facebook and author[1].facebook != '' %}
									<a target="_blank" href="{{ author[1].facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a> &nbsp;
									{% endif %}
									{% if author[1].site and author[1].site != '' %}
									<a target="_blank" href="{{ author[1].site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
									{% endif %}
									{% if author[1].github and author[1].github != '' %}
									<a target="_blank" href="{{ author[1].github }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a> &nbsp;
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div>
			{% include sidebar-featured.html %}    
		</div>
	</div>
</div>