<!--  Replace menu links here -->
<!-- Redundant home link
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
-->
<div style="align-content: right">
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}beginners">Beginners</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}tak">ASN-TAK</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}resources">Resources</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}guides">Guides</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}authors">Authors</a>
</li>

<!-- 
hardcoded links, &nbsp; for extra air
-->
<li class="nav-item" style="padding-left:15px;padding-right:15px;">
    <a href="https://discord.gg/gMegmXMAPN" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>&nbsp;
    <a href="https://www.youtube.com/channel/UC0jdeJCXXosXPuwOcTH1MAA" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>&nbsp;
    <a href="https://www.facebook.com/AirsoftNorge" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>&nbsp;
    <a href="mailto:staff.airsoftnorge@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>&nbsp;
</li>
<div>