<!--  Replace menu links here -->
<!-- Redundant home link
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
-->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#beginners">Beginners</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#tak">ASN-TAK</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#resources">Resources</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#guides">Guides</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors.html">Authors</a>
</li>
