---
layout: default
---
<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row justify-content-center">
		{% for post in site.posts %}
		  {% if post.categories contains page.category %}
		      <main role="main" class="site-content">
        {{ content }}
    </main>
			{% include featured-post.html %}
		  {% endif %}
		{% endfor %}
 </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>