---
layout: default
---
<div class="container">
	<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>

<!-- Takes the value of bread: in a top level category and inserts on top. -->
		<div class="category-breadtext">
			{% include {{ page.category }}.html %}    
		</div>
	<h4 class="font-weight-bold spanborder"><span></span></h4>

	<div class="col-md-10 main-loop">
		{% for post in site.posts %}
		  {% if post.categories contains page.category %}
			{% include main-loop-card.html %}    
		  {% endif %}
		{% endfor %}

		
	</div>
	<div class="col-md-4">
		{% include sidebar-featured.html %}    
	</div>
</div>